<div class="w-4/5 min-h-dvh">
  <div class='bg-white min-h-dvh w-full border border-gray-60 rounded-lg shadow-md'>
    <%= render 'header' %>
    <%= turbo_frame_tag :main_content do %>
      <%= render 'main', contact: @contact %>
    <% end %>
    <%= render 'footer' %>
  </div>
</div>
